{% extends "base.njk" %}

{% block title %}Categorías - Tienda{% endblock %}

{% block additional_styles %}
    .card {
        margin-bottom: 20px;
    }
    .card-title {
        font-weight: bold;
        flex-grow: 1;
    }
    .card-body {
        display: flex;
        flex-direction: column;
    }
    .image-container {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }
    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
{% endblock %}

{% block content %}
<h2>Categorías</h2>
<div class="row">
  {% for category in categories %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="image-container">
          <img src="{{ category.image }}" class="card-img-top" alt="{{ category.name }}">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ category.name | capitalize }}</h5>
          <a href="categorias/{{ category.name | urlencode }}" class="btn btn-custom mt-auto">Ver Productos</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
